<div class="card-columns">

    <div *ngFor="let country of countries; let i = index" class="card">
        <h5 class="card-header">{{ country.Country }}</h5>
        <div class="card-body">
            <span class="badge badge-secondary">{{ country.CountryCode }} - {{ country.Slug }}</span>

            <h5>Información</h5>
            <p class="card-text">Confirmados: {{ country.NewConfirmed }} / {{ country.TotalConfirmed }}</p>
            <p class="card-text">Muertos: {{ country.NewDeaths }} / {{ country.TotalDeaths }}</p>
            <p class="card-text">Recuperados: {{ country.NewRecovered }} / {{ country.TotalRecovered }}</p>
            <button type="button" class="btn btn-primary" (click)="countrySelection(country.Country)">Seleccionar</button>
        </div>
    </div>

</div>